body{    background: #e0e0e6;}
.sidee{background: #f4f4f6;}
.divavatarr{
    z-index: 99999;
    padding: 34px;
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    padding: 34px 40px;
    background: linear-gradient(159deg,rgba(255,255,255,1) 0,rgba(255,255,255,0.95) 100%);
}
.avatarr{width: 98px;
    margin: -49px -48px;}
.profile{    color: #1e1e28;font-size: 13px;
    font-weight: 400;    font-family: "Poppins",sans-serif;
}
.offers{    color: #1e1e28;font-size: 13px;
    font-weight: 400;    font-family: "Poppins",sans-serif;
}
.boximg{
    
    background-color:#dbe7e9;
    color:#0a66c2;
    width:14%;
   
    height: 164px;


    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    border-radius: 10px;

} 
.boximg2{
    
    background-color:#fadfd8;
    color:#0a66c2;
    width:14%;
   
    height: 164px;


    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    border-radius: 10px;
    margin:0px 48px;
}
.imgicon{    margin: 49px 42px;
    width: 40%;}
    .imgicon2{    margin: 49px 42px;
        width: 40%;}
.divoffer{     width:100%;background: linear-gradient(159deg,rgba(255,255,255,1) 0,rgba(255,255,255,0.95) 100%);}

.offerscomponent{margin: 94px 297px;
    width: 77%;
}
.campanyprofile{margin: 198px 297px;
    width: 48%;}
.photo{
    margin: -30px 42px;

    font-size: 19px;

}
.hidden{  display: none;}
.video{
    margin: -30px 42px;
color:"#80597e";
    font-size: 19px;

}
.h1{color:#f46258}
#title{
    width: 65%;
    background: #f4f4f6;
    color: #5c5c6f;
    box-shadow: inset 0 1px 4px 0 rgb(15 15 20 / 10%);
    margin-bottom: 0;
}
#description{ width:67.6%;
    margin: 0px -18px;
    color: #5c5c6f;
    background: #f4f4f6;
    box-shadow: inset 0 1px 4px 0 rgb(15 15 20 / 10%);
    margin-bottom: 0;}
    .buttonoffer{    margin: 19px -20px;
        background-color: #f46258;
        color: #20202a;
        border-radius: 54;
        padding: 10px 168px;
        
        }

   
      buttonoffer:hover{
        background-color: #e48034;
      }
      .searchbar{margin:0px 18px}
    .navbar{
        position: fixed;
        margin: 21px 1012px;
        width: 27%;

        isolation: isolate;
        z-index: 99999;
    }
 
    #button-addon1{ background-color:#0a66c2}
.asidebar{
    margin: 118px 29px;
}
.homeicon{
    margin: 5px 413px;
}
.interview{
    margin: 5px -398px;
}
.notif{margin: 5px 110px;}
.avatarnav{
    width: 4%;
    margin: -12px 315px;
}
    .profilecard{
        margin: 103px 24px;
        width: 20%;
    }
    .Asideprofilecard{
        margin: 292px 23px;
        width: 299px;
       
    }
    .asideprofile{ height: 430px;}
    .offers{
        padding: 131px 394px;
        width: 100%;
    }
    .cardprofile{
        height: 177px;

    }
    .postes{
        margin: -118px 393px;
        width: 46%;
    }
    .cover{width: 113%;;
    height: 40px;}
    .imgopacity{    height: 184%;
        width: 101.2%;}
    .IMG{    max-width: 96%;
        height: auto;}
        .profilef{
            margin: -195px 92px;

        }
        .div1{
            margin: 318px 0px;

            width: 94.4%;
            padding: 0px 0px;
            position: absolute;
        }
        .div2{   margin: 523px 0px;

            width: 36%;
            padding: 0px 0px;
            position: absolute;}
            .div3{     margin: 523px 564px;
                width: 56%;

                padding: 0px 0px;
                position: absolute;}
                .div4{margin:726px 564px;
                    width: 56%;

                    padding: 0px 0px;
                    position: absolute;}
        .coverdivv{z-index: 1111;
            position: absolute;}
  .bodyyy{margin:34px 25px;}