body{    background: #e0e0e6;}
.sidee{background: #f4f4f6;}
.divavatarr{
    z-index: 99999;
    padding: 34px;
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    padding: 34px 40px;
    background: linear-gradient(159deg,rgba(255,255,255,1) 0,rgba(255,255,255,0.95) 100%);
}
.profile{    color: #1e1e28;font-size: 13px;
    font-weight: 400;    font-family: "Poppins",sans-serif;
}
.offers{    color: #1e1e28;font-size: 13px;
    font-weight: 400;    font-family: "Poppins",sans-serif;
}