@font-face {
  font-family: "Fira Code";
  src: url("../node_modules/firacode/FiraCode-Regular.ttf") format("truetype");
}

html {
    margin: 0;
  padding: 0;
}

.wrapper_matrix {
    
  background-color: black;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow: hidden; */
  /* word-wrap: break-word; */

  
}

.text_loop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: 'Fira Code', monospace;
    font-size: 10px;

}
