 @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,800;1,500;1,200&display=swap');

.interview__continer {    font-family: 'Kanit', sans-serif;
    width: 100vw;
    height: 100vh ;
    font-weight: 200;
    background: #16171b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .interview__mainContainer {
        width: 90%;
        height: 95%;
        background:#fff;
    border-radius: 10px;
    display: flex;
    .interview__mainContainer___first-section {
        
        width: 70%;
        height:100%;
        display: flex;
        flex-direction: column;

        .first-section__header {
            padding: 10px;
            margin-top: 10px;
            width: 90%;
            align-self: center;
            height: 5%;
            text-align: center;
            display: flex;
           
            align-items: center;    
            gap:20px;
            box-shadow: 14px 14px 35px -14px rgba(0,0,0,0.75);
                .return {
                    background-color: gainsboro;
                    width:30px;
                    height:30px;
                    display: flex;
                    border-radius: 7px;
                    align-items: center;
                    justify-content: center;
                }
                .toogleButton{
                 width: 20%;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    gap:10px;
                    h5{
                        margin: 0;
                        padding: 0;
                        margin-top: 4px;
                    }
                }
        }

        .interview__container__paint{
            display: flex;
            flex-direction: column;
            width: 1440px;
            height:660px;
          .Menu {
               
                width: 650px;
                height: 50px;
                display: flex;
                justify-content: space-evenly;
                border-radius: 5px;
                align-items: center;
                background-color: #ffffff2d;
                margin-left: 150px;
                margin-top: 10px;
              }  
              canvas  {
                height: 90%;
                width: 100%;
              }
             
        }
    }   
    .inteview__mainContainer__second-section {
        margin-top: 10px;
        background: #d8dce6;
        width: 30%;
        height: 98%;
        border-radius: 7px;
        align-self: center;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        #video-broadcast{
            display: flex;
            flex-direction: column;
            height:90%;
            width:100%;
            video{
                border-radius: 7px;
                width: 80%;
                margin: 40px;
                animation: wobble-hor-bottom 0.8s both;
                @keyframes wobble-hor-bottom {
                    0%,
                    100% {
                      -webkit-transform: translateX(0%);
                              transform: translateX(0%);
                      -webkit-transform-origin: 50% 50%;
                              transform-origin: 50% 50%;
                    }
                    15% {
                      -webkit-transform: translateX(-30px) rotate(-6deg);
                              transform: translateX(-30px) rotate(-6deg);
                    }
                    30% {
                      -webkit-transform: translateX(15px) rotate(6deg);
                              transform: translateX(15px) rotate(6deg);
                    }
                    45% {
                      -webkit-transform: translateX(-15px) rotate(-3.6deg);
                              transform: translateX(-15px) rotate(-3.6deg);
                    }
                    60% {
                      -webkit-transform: translateX(9px) rotate(2.4deg);
                              transform: translateX(9px) rotate(2.4deg);
                    }
                    75% {
                      -webkit-transform: translateX(-6px) rotate(-1.2deg);
                              transform: translateX(-6px) rotate(-1.2deg);
                    }
                  }
                  
            }
        }
        .interview__call_options {
            background-color: #ffffff;
            width: 80%;
            display: flex;
            justify-content: center;
            align-content: center;
            height:7%;
            border-radius: 7px;
   
            .callended {
                display: flex;
                margin: 3px;
                align-content: center;
                justify-content: center ;    
                background-color: rgb(174, 37, 37);
                border-radius: 100%;
                width: 40px;
                height: 40px;
                &:hover{
                    cursor: pointer;
                }
            }
            .micMute{
                display: flex;
                margin: 3px;
                align-content: center;
                justify-content: center ;    
                background-color: rgb(24, 23, 23);
                border-radius: 100%;
                width: 40px;
                height: 40px;
                &:hover{
                    cursor: pointer;
                }
            }
        
            
        }
    }
    }

}

.whiteOne.react-toggle--checked .react-toggle-track {
    background-color: #000000;
  }
  