.aside{   
    background-color: #2f3349
    ;}
    .nav{ box-shadow: 0 3px 3px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, .2)),0 3px 4px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .14)),0 1px 8px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .12));
        background-color: #2f3349;
        width: 79.64%;
        margin: 20px 281px;
        isolation: isolate;
        z-index: 30;
        border-radius: 0.5rem;
}
   
.bgtable{box-shadow: 0 3px 3px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, .2)),0 3px 4px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .14)),0 1px 8px 0 var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, .12));}
body{background:#25293c;}
/* #2f3348 */
