.profilecard{
 
    width: 20%;

  
}
.rightside{
    width: 141%;
    margin: -386px 379px;
}
.divbg{
    background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2710&amp;q=80');
    
}